<div class="login-form">
  <h2>Passwort vergessen?</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), defaults: {wrapper: :login, input_html: {class: "login-field"}}) do |f| %>

    <div class="control-group">
      <%= f.input_field :email, :required => false, :autofocus => true, placeholder: "deine Email" %>
      <%= f.label :email, raw("&nbsp;"), class: "login-field-icon fui-man-16" %>
    </div>


    <%= f.button :submit, "Passwort zurücksetzen", class: "btn btn-primary btn-large btn-block" %>
  <% end %>

  <div class="login-links">
    <%= link_to "Einloggen", new_user_session_path %> &middot; <%= link_to "Passwort vergessen?", new_user_password_path %>
  </div>
</div>
