<% content_for :breadcrump do %>
  <%= breadcrump(link_to("Potts", pots_path), @pot.name) %>
<% end %>

<header>
  <%= link_to "einladen", new_pot_invitation_path(@pot), class: "pull-right" %>
  <h1>
    <%= @pot.name %>
    <small><%= link_to raw('<i class="icon-cog"></i>'), edit_pot_path(@pot), class: "muted" %></small>
  </h1>

</header>

<p class="lead">
  Dieser Pott sendet jeden <strong><%= t @pot.delivery_day %></strong> um  <strong><%= @pot.delivery_hour %></strong> eine Zusammenfassung an <strong><%= t ".people", count: @pot.users.count %></strong>!
</p>

<section>
  <section>
    <div class="row">
      <div class="span12">
        <%= simple_form_for [@pot, @link], html: {class: "well new_link_form"} do |f| %>
          <%= f.input :name, placeholder: "Titel", input_html: {class: "span9"}  %>
          <%= f.input :url, placeholder: "example.com", input_html: {class: "span9"} %>
          <%= f.input :description, placeholder: "Lorem ipsum...", input_html: {class: "span9"}  %>
          <div class="control-group">
            <div class="controls">
              <%= f.submit "Link hinzufügen" , class: "btn btn-large span3 btn-primary " %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "neuer Link für #{@pot.name}", "javascript:" + u(render(partial: "bookmarklet", formats: :js)), class: "btn btn-large span12 btn-info newlink", title: "Ziehe diesen Button einfach in deine Lesezeichenleiste, um jederzeit schnell und bequem neue Links zu diesem Pott hinzuzufügen!" %>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="span12">
        <h2>Deine Links für nächsten <%= t @pot.delivery_day %></h2>

        <% if @pot.new_links.any? %>
          <table class="table table-bordered" id="pot_links">
            <thead>
              <tr>
                <th class="link_sent"></th>
                <th>Link</th>
                <th>Autor</th>
                <th>Hinzugefügt am</th>
                <th>Hottiness</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'link', collection:  @pot.new_links.from_user(current_user).decorate %>
            </tbody>
          </table>
        <% else %>
          <p class="palette no_links palette-silver">
            Du hast diese Woche noch keine Links gesammelt.
          <% if @pot.new_links.from_others_than(current_user).any? %>
              <br>
              <strong>Halt dich ran, die anderen haben in dieser Woche schon <%= pluralize(@pot.new_links.from_others_than(current_user).count, "Link") %> gesammelt!</strong>
          <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="span12">
        <h2>Links aus vorherigen Wochen</h2>
        <table class="table table-bordered" id="pot_links">
          <thead>
            <tr>
              <th class="link_sent"></th>
              <th>Link</th>
              <th>Autor</th>
              <th>Hinzugefügt am</th>
              <th>Hottiness</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'link', collection:  @pot.old_links %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>