<% content_for :breadcrump do %>
  <%= breadcrump(link_to("Potts", pots_path), @pot.name) %>
<% end %>

<header>
  <%= link_to "einladen", new_pot_invitation_path(@pot), class: "pull-right" %>
  <h1>
    <%= @pot.name %>
    <small><%= link_to raw('<i class="icon-cog"></i>'), edit_pot_path(@pot), class: "muted" %></small>
  </h1>

</header>

<p class="lead">
  Dieser Pott sendet jeden <strong><%= t @pot.delivery_day %></strong> um  <strong><%= @pot.delivery_hour %></strong> eine Zusammenfassung an <strong><%= t ".people", count: @pot.users.count %></strong>!
</p>

<section>
  <header>
    <h2>
      Links
    </h2>
  </header>
  <section>
    <div class="row">
      <div class="span12">
        <%= simple_form_for [@pot, @link], html: {class: "well new_link_form"} do |f| %>
          <%= f.input :name, placeholder: "Titel", input_html: {class: "span9"}  %>
          <%= f.input :url, placeholder: "example.com", input_html: {class: "span9"} %>
          <%= f.input :description, placeholder: "Lorem ipsum...", input_html: {class: "span9"}  %>
          <div class="control-group">
            <div class="controls">
              <%= f.submit "Link hinzufügen" , class: "btn btn-large span3 btn-primary " %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to raw('neuer Link'), "#", class: "btn btn-large span12 btn-info newlink" %>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="span12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="link_sent"></th>
              <th>Link</th>
              <th>Autor</th>
              <th>Hinzugefügt am</th>
              <th>Hottiness</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @pot.links.each do |link| %>
              <tr id="link_<%= link.id %>">
                <% if link.sent? %>
                  <td title="<%= link.sent_at %>" class="link_sent palette-success"><span class="fui-checkmark-24"></span></td>
                <% else %>
                  <td title="<%= @pot.next_delivery_date %>" class="link_sent palette-info"><span class="fui-time-24"></span></td>
                <% end %>
                <td><%= link_to link.name, link.url, target: "_blank" %></td>
                <td><%= link.user.name %></td>
                <td><%= l link.created_at, format: :short %></td>
                <td><span class="label label-<%= link.hottiness_label %>"><%= link.hottiness %></span></td>
                <td><%= link_to "bearbeiten", edit_pot_link_path(@pot, link) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>