<%= simple_form_for([@pot, @link]) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :name, input_html: {class: "span3"} %>
  
  <%= f.input :url, input_html: {class: "span3"} %>
  
  <%= f.input :description , input_html: {class: "span3"}%>
  
  <%= f.input :hottiness, collection: {"gut" => 1, "nicer Shit!" => 2, "Lesebefehl!" => 3}, input_html: {class: "span3"}, include_blank: false %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
