<!DOCTYPE html>
<html>
  <head>
    <title>Potter</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%# stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container" id="header">
        
      <h1>Oh, Potter!</h1>

      <div id="main_nav" class="container">
        <%= render partial: "layouts/pot_nav" %>
        <%= render partial: 'layouts/user_links' %>
      </div>
    </div>


    <div class="fluid-container" id="main-content">
      <div class="container">
        <div class="toplinks">
          <%= yield :toplinks %>
        </div>
        
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash alert <%= key %>">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <%= value %>
            </div>
          <% end %>
        </div>
        <!-- UserVoice JavaScript SDK (only needed once on a page) -->
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/XMQeefCakTrGrMmSlbbfQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

        <!-- A tab to launch the Classic Widget -->
        <script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#5bb69b',
          link_color: '#374a5d',
          default_mode: 'feedback',
          forum_id: 217299,
          tab_label: 'Feedback & Support',
          tab_color: '#5bb69b',
          tab_position: 'middle-left',
          tab_inverted: false
        }]);
        </script>        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
